header {
    background-color:#d52a54;
}
.schedule{
    background-color:white;
}
.regarding {
    background-color:white;
}

.lesson {
    background-color:#0b6ccd;
}

.together {
    background-image:url(https://res03.sites.3wa.io/assets/files/inte/j3/mini-projet/assets/img/teacher.jpeg);
}
ul {
    list-style-type:none;
}

img {
    width:10%;
    height:10%;
}

fieldset {
    border:none;
}

h2 {
    text-align:center;
}

.text1 {
    height:20vh;
    width:45vw;
    border-radius:2%;
    margin-left:0em;
    margin-top:1em;
}
.text2 {
    height:20vh;
    width:45vw;
    border-radius:2%;
    margin-left:20em;
    margin-top:-8.5em;
}

footer {
    background-color:#326584;
}