header {
    background-color:#d52a54;
}
.schedule{
    background-color:white;
}
.regarding {
    background-color:white;
}

.lesson {
    background-color:#0b6ccd;
    height:25em;
    
}

.together {
    background-image:url(https://res03.sites.3wa.io/assets/files/inte/j3/mini-projet/assets/img/teacher.jpeg);
    background-size:100%;
    color:white;
    width: 200vh;
    height: 50vw;
}
ul {
    list-style-type:none;
}

img {
    width:10%;
    height:10%;
}

fieldset {
    border:none;
}

h2 {
    text-align:center;
}

.text1 {
    width:20em;
    margin-left:15em;
    margin-top:5em;
}

.text2 {
    width:20em;
    margin-left:40em;
    margin-top:-15.5em;
}


footer {
    background-color:#326584;
}

body > header > nav > ul > li a {
    color: white;
    font-size: 0.9em;
    text-decoration: none;
    width: calc(100% / 6);
    display: inline-block;
    text-align: center;
}

.cours1 {
    background-color:white;
    height:15em;
    width:15em;
    margin-left:10em;
}
.cours2 {
    background-color:white;
    height:15em;
    width:15em;
    margin-left:30em;
    margin-top:-16em;
}
.cours3 {
    background-color:white;
    height:15em;
    width:15em;
    margin-left:50em;
    margin-top:-16em;
}

.info {
  border: 1px solid #1e5d62;
  border-radius:5px;  
  background-color:white;
  height: 17em;
  width: 15em;
  box-shadow: 1px 3px 2px #1e5d62;
}
.dev {
    border: 1px solid #1e5d62;
    background-color:white;
    border-radius:5px;
    height: 17em;
    width: 15em;
    margin-left:20em;
    margin-top:-17em;
    box-shadow: 1px 3px 2px #1e5d62;
}

.stage {
     border: 1px solid #1e5d62;
     background-color:white;
     border-radius:5px;
     height: 17em;
     width: 15em;
     margin-left: 40em;
     margin-top:-17em;
     box-shadow: 1px 3px 2px #1e5d62;
 }
 
.monday {
    border: 1px solid #1e5d62;
    background-color:white;
    border-radius:5px;
    height: 17em;
    width: 15em;
    margin-left:60em;
    margin-top:-17em;
    box-shadow: 1px 3px 2px #1e5d62;
}